header {
    background-color: var(--negro);
    color: var(--blanco);
    height: 60px;
    padding: 10px;

    & img {
        height: 28px;
        margin-top: 6px;

        &:hover {
            cursor: pointer;
        }
    }
}

#home-page {
    height: 40px;
    width: max-content;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 100px;

    &:hover {
        cursor: pointer;
    }

    & h1 {
        height: 40px;
        font-size: 24px;
        line-height: 40px;

        position: absolute;
        top: 0;
        left: 50px;
    }

    & img {
        height: 40px;
        margin-top: 0px;
    }
}

#search-in {
    height: 32px;
    width: 256px;
    margin-top: 4px;
    padding-left: 10px;
    outline: none;
    animation: animation-search 0.5s;

    position: absolute;
    top: 10px;
    right: 200px;
}

#search-but {
    position: absolute;
    top: 10px;
    right: 160px;
}

#logout-but {
    position: absolute;
    top: 10px;
    right: 100px;
}

@keyframes animation-search {
    0% {
        width: 0px;
    }

    100% {
        width: 256px;
    }
}