:root {
  --am-claro: #FCCE36;
  --am-oscuro: #FABA35;
  --gr-claro: #555A65;
  --gr-oscuro: #333940;
  --blanco: #FFFFFF;
  --negro: #101214;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  background-color: var(--am-oscuro);
}